<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rest API Vyorius</title>
</head>
<body>
  <h2>Vyorius Drones</h2>
  <ul>
  <li><h3>This is a rest api for finding suitable route for drone.</h3></li>
  <li><h3>Available endpoints - </h3>
  <ul> <li>post   => ./find-path/</li>
  <li>JSON for post request - </li>
  <h5 id="json_data">  </h5>

  </ul></li></ul>

 
</body>


<script>

var jsonVar = {
"source":[25.136582259755453,75.8163070678711],
"destination":[ 25.186301620540558,75.87741851806639],
"intermediate_stops":[],
"buffer_radius_km":1,
"tags":{"flyzone":true,"water":true,"forest":true,"school_hospitals":true,"population":true},
"custom_restriction_markers":[[25.15523,75.8616256,100]]
}
    jsonStr = JSON.stringify(jsonVar),  // THE OBJECT STRINGIFIED
    regeStr = '', // A EMPTY STRING TO EVENTUALLY HOLD THE FORMATTED STRINGIFIED OBJECT
    f = {
            brace: 0
        }; // AN OBJECT FOR TRACKING INCREMENTS/DECREMENTS,
           // IN PARTICULAR CURLY BRACES (OTHER PROPERTIES COULD BE ADDED)

regeStr = jsonStr.replace(/({|}[,]*|[^{}:]+:[^{}:,]*[,{]*)/g, function (m, p1) {
var rtnFn = function() {
        return '<div style="text-indent: ' + (f['brace'] * 20) + 'px;">' + p1 + '</div>';
    },
    rtnStr = 0;
    if (p1.lastIndexOf('{') === (p1.length - 1)) {
        rtnStr = rtnFn();
        f['brace'] += 1;
    } else if (p1.indexOf('}') === 0) {
         f['brace'] -= 1;
        rtnStr = rtnFn();
    } else {
        rtnStr = rtnFn();
    }
    return rtnStr;
});

document.getElementById("json_data").innerHTML += regeStr; 

</script>
</html>